{% extends 'base_new.html' %}

{% block conteudo %}

<h1 class="titulo">Listagem de todas as tarefas</h1>
<ol class="lista_tarefas">
{% for item in tarefas %}
    <li>
        <p>Titulo: {{ item.titulo }}</p>
        <p>Descrição: {{ item.descricao }}</p>
    </li>
{% endfor %}
</ol>

<!-- <div class="wrapper">
    <div class="card">Um</div>
    <div class="card">Dois</div>
    <div class="card">Tres</div>
</div> -->

{% for item in tarefas %}
<div class="wrapper">
    <div class="card">
        <h1 class="prioridade">{{ item.get_prioridade_display }}</h1>
        <p>Título: {{ item.titulo }}</p>
        <p>Descrição: {{ item.descricao }}</p>
        <hr>
        <a style="color: black;" href="{% url 'editar_tarefa' item.id %}">Editar</a>
        <a style="color: black;" href="{% url 'remover_tarefa' item.id %}">Remover</a>
    </div>
</div>
{% endfor %}

<a class="botao" href="{% url 'cadastrar_tarefa' %}">
    <input type="button" value="Cadastrar Nova Tarefa">
</a>


{% endblock conteudo %}

